h1
{
    text-align: center;;
}

h3
{
    font-family: 'Shadows Into Light', cursive;
}

footer{
    bottom:0;
    position:fixed;
    height:25px;
    width:100%;
    text-align:center;
    background-color: black;
    color:white;

}

body{
    background-color: blanchedalmond;
}

.logo{
    padding:10px;
}

.T1{
    display: flex;
    justify-content: center;
    height: 110px;
}

.cartbutton{
    display: flex;
    justify-content: center;
}

.product{
    display: flex;
    justify-content: center;
    flex: 1 0 17%;
    margin: 5px;
    height: 395px;
    background-color: rgb(245, 209, 152);
    text-align: center;

}
img{
    margin-top: 15px;
}


.productlist{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin:0 auto;
    width: 90%;
    margin-top: -20px;
}