h1
{
    text-align: center;;
}

h3
{
    font-family: 'Shadows Into Light', cursive;
}

footer{
    bottom:0;
    position:fixed;
    height:25px;
    width:100%;
    text-align:center;
    background-color: black;
    color:white;

}

body{
    background-color: blanchedalmond;
}

.logo{
    padding:10px;
}

.T1, .T2{
    display: inline-block;
}

.shirt{
    display: inline-block;
    margin:10px;
    background-color: cornflowerblue;
    width:160px;
    height:210px;
    text-align: center;
}


.searchT{
    margin-left:150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.typeT{
    margin:30px;
}